.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 8px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "header header header"
    "menu menu menu"
    "section section section"
    "main main main"
    "footer footer footer";
}

.header { grid-area: header; }

.menu { grid-area: menu; }

.section { grid-area: section; }

.main { grid-area: main; }

.footer { grid-area: footer; }
